* {
    font-family: Arial, Helvetica, sans-serif;
}
header h2 {
    color: green;
}
nav {
    display: flex;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(233, 233, 225);
}
nav ul li {
    float: left;
    background-color: transparent;
}
nav ul li a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgb(233, 233, 225);
    font-weight: bold;
}
/* seletor de pseud class - hover */
nav ul li a:hover {
    background-color: burlywood;
}
/* seletor por id */
#uso-tabela {
    background-color: rgb(233, 233, 225);
}
/* seletor do fiho imediato do id uso-tabela */
#uso-tabela > h3 {
    color: blue;
}
/* estilando a tabela */
#uso-tabela table thead tr {
    background-color: black;
    color: white;
}
/* usando mais uma pseudo class para estilizar */
#uso-tabela table tbody tr:nth-child(odd) { 
    background-color: silver;
}
#uso-tabela table tbody tr:nth-child(even) {
    background-color: white;
}

#uso-tabela table tbody tr:hover {
    background-color: chocolate;
}
/* uso do pseudo classa active */
#uso-formulario form input:focus {
    background-color: mistyrose;
}
/* selecionando mais de um elemento para aplicar um estilo comum */
th, td {
    font-family: 'Courier New', Courier, monospace;
}
/* selecionando irmãos */
h3 + p {
    color: pink;
}
/* os selacionando irmaos posteriores */
h3 ~ p {
    color: blueviolet;
}
h3 + p {
    color: pink;
}
/* iniciando as classes para o menu */
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu li {
    display: inline-block;
    position: relative;
}
.menu li a {
    display: block;
    padding: 18px;
    text-decoration: none;
    color: black;
}
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: rgb(228, 235, 241);
    box-shadow: 0 2px 5px rgb(0, 0, 0, 2);
}
.submenu li {
    display: block;
    width: 150px;
}
.tem-submenu:hover .submenu {
    display: block;
}
.menu li a:hover {
    background-color: aliceblue;
}
/* uso de seletor por atributo */
p[data-detalhe] {
    text-decoration: underline;
}
p [data-detalhe="Linha 3"] {
    background-color: aqua;
} 